{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <h1>Shopping Cart</h1>
    
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-9 cart-left">
            <h4>Items in cart:</h4>
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>Image:</h5>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>Title:</h5>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>Item Price:</h5>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>Quantity:</h5>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>Line Total:</h5>
                </div>
            </div>
            <hr>
            {% for cart_item in cart_items %}
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <img src="{{ cart_item.product.image_url }}"  class="cart-image">
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>{{ cart_item.product.product_name }}</h5>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>${{ cart_item.product.price }}</h5>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>
                        <a href=""><i class="fa-regular fa-square-minus"></i></a>
                         {{ cart_item.quantity }}
                        <a href="{% url 'add_to_cart' cart_item.product.id %}"><i class="fa-regular fa-square-plus"></i></a>
                    </h5>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 align-self-center">
                    <h5>${{ cart_item.sub_total }}</h5>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-md-4 col-lg-3 cart-right">
            <h4>Subtotal:</h4>
            
        </div>
    </div>
    
</div>
{% endblock %}