{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Hero image with CTAoverlay-->
    <div class="hero-image container">
        <div class="row row-overlay">
            <div class="col-12 overlay-message">
                <div class="overlay">
                    <h1 class="cta-h1">Welcome to Razor Sharp</h1>
                    <h2 class="cta-h2">Men's Grooming & Hair needs</h2>
                    <button type="button" class="btn shop-now-button btn-white">Shop Now</button>
                </div>
            </div>
        </div>
    </div>

    <!--Dividing section & features-->
    <!--Heading-->
    <div class="container-fluid features-cont">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center text-white">What we do</h3>
            </div>
        </div>
        <!--First col-->
        <div class="row div-row">
            <div class="col-sm-12 col-lg-4 div-col">
                <i class="fa-solid fa-gift feat-icon"></i>
                <p>Provide you with excellent hand made grooming products to keep you looking <strong>Razor Sharp</strong></p>
            </div>
            <!--Second col-->
            <div class="col-sm-12 col-lg-4 div-col">
                <i class="fa-solid fa-truck-fast feat-icon"></i>
                <p>Ship <strong>lightening fast</strong> to get your products out to you before you know it.</p>
            </div>
            <!--Third col-->
            <div class="col-sm-12 col-lg-4 div-col">
                <i class="fa-solid fa-repeat feat-icon"></i>
                <p>Off you the option to <strong>subscribe</strong> to save more money and to have a hassle free shipment each month!</p>
            </div>
        </div>
    </div>

    <!--Card section for blog-->

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class=" text-center text-black">Our Articles</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{% static '../../media/blog3.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">The <strong>Razor</strong> Toolkit</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{% static '../../media/blog2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Sharp</strong> Technique</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="{% static '../../media/blog5.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><strong>Daily</strong> Care</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
{% endblock %}