{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Hero image with CTAoverlay-->
    <div class="hero-image container">
        <div class="row row-overlay">
            <div class="col-12 overlay-message">
                <div class="overlay">
                    <h1 class="cta-h1">Welcome to Razor Sharp</h1>
                    <h2 class="cta-h2">Men's Grooming & Hair needs</h2>
                    <button type="button" class="btn shop-now-button btn-white">Shop Now</button>
                </div>
            </div>
        </div>
    </div>

    <!--Dividing section & features-->
    <!--Heading-->
    <div class="container-fluid cont">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center text-white">What we do</h3>
            </div>
        </div>
        <!--First col-->
        <div class="row div-row">
            <div class="col-sm-12 col-lg-4 div-col">
                <i class="fa-solid fa-gift"></i>
                <p>Provide you with excellent hand made grooming products to keep you looking <strong>Razor Sharp</strong></p>
            </div>
            <!--Second col-->
            <div class="col-sm-12 col-lg-4 div-col">
                <i class="fa-solid fa-truck-fast"></i>
                <p>Ship <strong>lightening fast</strong> to get your products out to you before you know it.</p>
            </div>
            <!--Third col-->
            <div class="col-sm-12 col-lg-4 div-col">
                <i class="fa-solid fa-repeat"></i>
                <p>Off you the option to <strong>subscribe</strong> to save more money and to have a hassle free shipment each month!</p>
            </div>
        </div>
    </div>
    
{% endblock %}