{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Hero image with CTAoverlay-->
    <div class="hero-image container">
        <div class="row row-overlay">
            <div class="col-12 overlay-message">
                <div class="overlay">
                    <h1 class="cta-h1">Welcome to Razor Sharp</h1>
                    <h2 class="cta-h2">Men's Grooming & Hair needs</h2>
                    <button type="button" class="btn shop-now-button btn-white">Shop Now</button>
                </div>
            </div>
        </div>
    </div>

    <!--Dividing section-->
    <div class="container-fluid cont">
        <div class="row div-row">
            <div class="col-sm-12 col-lg-4 div-col">

            </div>
            <div class="col-sm-12 col-lg-4 div-col">
                <h3>What we do</h3>
                <p>Random text to go below paragraph</p>
            </div>
            <div class="col-sm-12 col-lg-4 div-col">

            </div>
        </div>
    </div>
    
{% endblock %}