{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black">Accounts</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid profile-container justify-content-space-around">
        <div class="row text-center">
            <div class="col-xs-12 col-md-4 profile-menu-items">
                <h3>Profile Menu</h3>
                <hr>
                <ul class="profile-menu-list">
                <li><a href="{% url 'accounts' %}" class="menu-item active"><i class="fa-solid fa-info"></i> Personal Information</a></li><hr>
                <li><a href="{% url 'shipping_details' %}" class="menu-item"><i class="fa-solid fa-truck-fast"></i> Shipping Details</a></li><hr>
                <li><a href="{% url 'edit_image' user.id %}" class="menu-item"><i class="fa-regular fa-image"></i></i> Change Profile Photo</a></li><hr>
                <li><a href="{% url 'order_history' %}" class="menu-item"><i class="fa-solid fa-receipt"></i> Order history</a></li><hr>
                <li><a href="" class="menu-item"><i class="fa-regular fa-circle-xmark"></i> Close Account</a></li><hr>
                </ul>
            </div>
            <div class="col-xs-12 col-md-8 profile-options-items">
                <h3>Personal Information</h3>
                    <hr>
                {% if user.userprofile.profile_picture %}
                    <img src="{{user.userprofile.profile_picture.url}}" height="100px">
                {% else %}
                    <img src="{% static 'images/profile.png' %}" height="100px">
                {% endif %}
                <h5><strong>Username:</strong> {{ user.username }}</h5>
                <h5><strong>First Name:</strong> {{ user.first_name }} | <strong>Last Name:</strong> {{ user.last_name }}</h5>
                <h5><strong>Account Number:</strong> 100121{{ user.id }}</h5> 
                <h5><strong>Email:</strong> {{ user.email }}</h5>
                <h5><strong>Phone:</strong> {{user.phone_number}}</h5>
                <h5><strong>Date Joined:</strong> {{user.date_joined}}</h5>
                <a href="{% url 'edit_profile' user.id %}" class="btn btn-danger">Edit Profile</a>
            </div>
        </div>
    </div>

{% endblock %}


<!--<div class="row">
            
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please see the below information</p>
                <h3 class="heading-space"><strong>Personal Information</strong></h3>
            <h5><strong>First Name:</strong> {{ user.first_name }} | <strong>Last Name:</strong> {{ user.last_name }}</h5>  
            <h5><strong>Username:</strong> {{ user.username }} <a href="" aria-label="change username">Edit</a></h5>  
            <h5><strong>Account Number:</strong> 100121{{ user.id }}</h5> 
            <h5><strong>Email:</strong> {{ user.email }}</h5>
            <h5><strong>Phone:</strong> {{user.phone_number}}</h5>
            <h5 class="text-center edit-profile-link">To make changes to your profile information please click here: <a href="" aria-label="change personal information">Edit</a></h5>
            </div>
        </div>-->