{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black">Accounts</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid profile-container justify-content-space-around">
        <div class="row text-center">
            <div class="col-xs-12 col-md-4 profile-menu-items">
                <h3>Profile Menu</h3>
                <hr>
                <ul class="profile-menu-list">
                    <li><a href="{% url 'accounts' %}" class="menu-item"><i class="fa-solid fa-info"></i> Personal Information</a></li><hr>
                    <li><a href="{% url 'shipping_details' %}" class="menu-item"><i class="fa-solid fa-truck-fast"></i> Shipping Details</a></li><hr>
                    <li><a href="" class="menu-item active"><i class="fa-regular fa-image"></i></i> Change Profile Photo</a></li><hr>
                    <li><a href="{% url 'order_history' %}" class="menu-item"><i class="fa-solid fa-receipt"></i> Order history</a></li><hr>
                    <li><a href="" class="menu-item"><i class="fa-regular fa-circle-xmark"></i> Close Account</a></li><hr>
                </ul>
            </div>
            <div class="col-xs-12 col-md-8 profile-options-items">
                <h3>Edit Personal Information</h3>
                <hr>
                {% if user.userprofile.profile_picture %}
                    <img src="{{user.userprofile.profile_picture.url}}" height="100px">
                {% else %}
                    <img src="{% static 'images/profile.png' %}" height="100px">
                {% endif %}
                <form method="POST" class="userinfo-form" id="profile_picture" value="profile_picture">
                    {% crispy form %}
                    <a href="{% url 'accounts' %}" class="btn btn-danger">Cancel Changes</a>
                </form>
                
            </div>
        </div>
    </div>

{% endblock %}