{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black">Accounts</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container profile-container justify-content-space-around">
        <div class="row text-center">
            <div class="col-xs-12 col-md-4 profile-menu-items">
                <h3>Profile Menu</h3>
                <hr>
                <ul class="profile-menu-list">
                <li><a href="{% url 'accounts' %}" class="menu-item active">Personal Information</a></li>
                <li><a href="{% url 'shipping_details' %}" class="menu-item">Shipping Details</a></li>
                <li><a href="{% url 'order_history' %}" class="menu-item">Order history</a></li>
                <li><a href="" class="menu-item">Close Account</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-8 profile-options-items">
                <h3>Edit Personal Information</h3>
                <hr>
                {% if user.userprofile.profile_picture %}
                    <img src="{{user.userprofile.profile_picture.url}}" height="100px">
                {% else %}
                    <img src="{% static 'images/profile.png' %}" height="100px">
                {% endif %}
                <form method="POST" class="personal-info-form">
                    {{form|crispy}}
                </form>
                <a href="{% url 'edit_profile' user.id %}" class="btn btn-danger">Edit Profile</a>
            </div>
        </div>
    </div>

{% endblock %}