{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black">Accounts</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid profile-container justify-content-space-around">
        <div class="row text-center">
            <div class="col-xs-12 col-md-4 profile-menu-items">
                <h3>Profile Menu</h3>
                <hr>
                <ul class="profile-menu-list">
                    <li><a href="{% url 'accounts' %}" class="menu-item active"><i class="fa-solid fa-info"></i> Personal Information</a></li><hr>
                    <li><a href="{% url 'shipping_details' %}" class="menu-item"><i class="fa-solid fa-truck-fast"></i> Shipping Details</a></li><hr>
                    <li><a href="{% url 'edit_image' user.id %}" class="menu-item"><i class="fa-regular fa-image"></i></i> Change Profile Photo</a></li><hr>
                    <li><a href="{% url 'order_history' %}" class="menu-item active"><i class="fa-solid fa-receipt"></i> Order history</a></li><hr>
                    <li><a href="" class="menu-item"><i class="fa-regular fa-circle-xmark"></i> Close Account</a></li><hr>
                    </ul>
            </div>
            <div class="col-xs-12 col-md-8 order-items">
                <h3>Order History</h3>
                <hr>

                <table class="order-table">
                    <tr>
                        <th>UserID</th>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Amount</th>
                    </tr>
                    <!--This works if the user id is set to the order. Need it done automatically-->
                    {% for order in orders %}
                    {% if order.user_id == user.id %}
                    <tr>
                        <th>{{order.user.id}}</th>
                        <th>{{order.order_number|slice:":12"}}</th>
                        <th>{{order.date|date:"dS M Y" }}</th>
                        <th>{{order.date|date:"h:ia"}}</th>
                        <th>{{order.grand_total}}</th>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}