{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container profile-container justify-content-space-around">
        <div class="row text-center">
            <div class="col-xs-12 col-md-4 profile-menu-items">
                <h3>Profile Menu</h3>
                <hr>
                <ul class="profile-menu-list">
                <li><a href="{% url 'accounts' %}" class="menu-item">Personal Information</a></li>
                <li><a href="{% url 'shipping_details' %}" class="menu-item active">Shipping Details</a></li>
                <li><a href="{% url 'order_history' %}" class="menu-item">Order history</a></li>
                <li><a href="" class="menu-item">Close Account</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-8 profile-options-items">
                <h3>Order History</h3>
                <hr>
                {% for order in orders %}
                {{order.order_number}}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}