{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black">Accounts</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid profile-container justify-content-space-around">
        <div class="row text-center">
            <div class="col-xs-12 col-md-4 profile-menu-items">
                <h3>Profile Menu</h3>
                <hr>
                <ul class="profile-menu-list">
                    <li><a href="{% url 'accounts' %}" class="menu-item"><i class="fa-solid fa-info"></i> Personal Information</a></li><hr>
                    <li><a href="{% url 'shipping_details' %}" class="menu-item active"><i class="fa-solid fa-truck-fast"></i> Shipping Details</a></li><hr>
                    <li><a href="{% url 'edit_image' user.id %}" class="menu-item"><i class="fa-regular fa-image"></i></i> Change Profile Photo</a></li><hr>
                    <li><a href="{% url 'order_history' %}" class="menu-item"><i class="fa-solid fa-receipt"></i> Order history</a></li><hr>
                    <li><a href="" class="menu-item"><i class="fa-regular fa-circle-xmark"></i> Close Account</a></li><hr>
                    </ul>
            </div>
            <div class="col-xs-12 col-md-8 profile-options-items">
                <h3>Address information</h3>
                <hr>
                <h5><strong>Street Address:</strong>{{user.userprofile.street_address1}}</h5>
                {% if user.userprofile.street_address2 %}
                <h5><strong>Street Address 2nd line:</strong>{{user.userprofile.street_address2}}</h5>
                {% endif %}
                <h5><strong>Town / City:</strong>{{user.userprofile.town_or_city}}</h5>
                {% if user.userprofile.county %}
                <h5><strong>County:</strong>{{user.userprofile.county}}</h5>
                {% endif %}
                {% if user.userprofile.postcode %}
                <h5><strong>Postcode:</strong>{{user.userprofile.postcode}}</h5>
                {% endif %}
                <h5><strong>Country:</strong>{{user.userprofile.country}}</h5>
                <a href="{% url 'edit_shipping' user.id %}" class="btn btn-danger">Edit Shipping information</a>
            </div>
            
        </div>
    </div>

{% endblock %}


