<div class="collapse navbar-collapse nav-bg-color" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}" id="products-link">
                Products
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="subscriptions-link">
                Subscriptions
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="contact-link">
                <a href="" class="dropdown-item">Contact</a>
                <a href="" class="dropdown-item">Shipping & Delivery</a>
                <a href="" class="dropdown-item">FAQ's</a>
                <a href="" class="dropdown-item">Returns</a>
            </div>
        </li>
    </ul>
</div>