{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <!--Required Meta Tags-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Alan Bushell">
    <meta name="description"
    content="Men's grooming e-commerce store providing premium hair, skin, and beard care products at affordable prices. Shop now for the best men's grooming products.">
    <meta name="keywords"
    content="Razor Sharp, Hand Razor, Mens Razor, Men's Grooming, Men's Hair Care, Beard Care, Beard Shaping, Men's Beard Care, Grooming gifts for men,
    hair care gifts for men, beard care gifts for men, Razor for men, Shaving gifts for men, mens first razor,Razor Sharp, Men's Grooming, Hair Care, Beard Care,
    Shaving, Hair Styling, Skin Care, Grooming products, Affordable prices, Mens grooming">
    <meta property="og:title" content="Razor Sharp | Men's Grooming Products">
    <meta property="og:description" content="Men's grooming e-commerce store providing premium hair, skin, and beard care products at affordable prices. Shop now for the best men's grooming products.">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <!--Favicon-->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>Razor Sharp | Men's Grooming Products.</title>

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    <!--Mailchimp Css-->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet">
    <style>
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    </style>
    {% endblock %}

    {% block corejs %}
    <!--Stripe-->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Font Awesont kit-->
    <script src="https://kit.fontawesome.com/3af9543e24.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

  </head>
  <body>
    <!-- Header Nav bar-->
    <header class="container-fluid">
        <div id="topnav" class="row nav-bg-color pt-lg-2 d-none d-lg-flex">
            <!-- Nav logo-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-white my-0"><strong>Razor</strong>Sharp</h2>
                </a>
            </div>
            <!-- Nav center for links-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-danger border border-black rounded-0" type="submit" aria-label="Search our products">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <!-- last col for account and cart options-->
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link" href="#" id="dt-user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                {% if request.user.is_authenticated %}
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0 text-white">My Account</p>
                                {% else %}
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0 text-white">Login / Sign Up</p>
                                {% endif %}
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if user.is_superadmin %}
                                    <a href="{% url 'admin:index' %}" class="dropdown-item">Admin Panel</a>
                                {% endif %}
                                {% if user.is_staff %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'accounts' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                <p class="my-0 cart-amount">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        Cart
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row second-nav">
            <nav class="navbar navbar-expand-lg navbar-dark text-white w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col my-secondary text-white">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
    </header>
    
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>

    {% endblock %}

    <footer class="footer-container sticky-bottom">
        <div class="container">
            <div class="row footer-row">
                <div class="col-xs-12 col-md-4">
                    <h5 class="footer-heading"><strong>About</strong></h5>
                    <ul class="about-list">
                        <li><a href="{% url 'about' %}">The formation of <strong>Razor</strong> Sharp</a></li>
                        <li><a href="{% url 'shipping' %}">Shipping Timeframes</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h5 class="footer-heading"><strong>Socials</strong></h5>
                    <ul class="socials-list">
                        <li><a href="https://twitter.com/home" rel="nofollow">Twitter</a></li>
                        <li><a href="https://www.instagram.com/" rel="nofollow">Instagram</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100089813350334" rel="nofollow">Facebook</a></li>
                    </ul>
                    <h5 class="footer-heading"><strong>Pages</strong></h5>
                    <ul class="pages-list">
                        <li><a href="{% url 'products' %}">Products</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h5 class="footer-heading"><strong>Contact</strong></h5>
                    <ul class="contact-list">
                        <li>Phone: 0841328436</li>
                        <li>E-mail: help@razorsharp.com</li>
                        <li><a href="{% url 'contact' %}">Contact Form</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 align-self-center">
                    <ul class="legal-list">
                        <li><a href="{% url 'privacy' %}">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 align-self-center">
                    <ul class="legal-list">
                        <li><a href="{% url 'terms' %}">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 align-self-center">
                    <ul class="legal-list">
                        <li><a href="{% url 'shipping' %}">Shipping Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 align-self-center">
                    <small>Created by Alan Bushell.<br> Drop by my Github or Twitter to say hi
                        <span style="font-size: 14px;">&#128075;</span></small>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>