{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black mt-3">Shipping Policy & Timeframes</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-center">
            <h3 class="text-black mt-3">Europe Shipments</h3>
            <p>We ship to all countries in the European Union. All orders are shipped via standard shipping and typically take 5-7 business days to arrive.
                 We also offer expedited shipping options at an additional cost, which can take 2-3 business days to arrive.</p><br>

            <p>Orders placed before 2pm GMT will be shipped out the same day, and orders placed after 2pm GMT will be shipped out the next business day.</p><br>
            
            <p>Please note that we are not responsible for any customs or import duties that may be charged on orders shipped outside of the UK.
                The recipient is responsible for paying any additional charges for customs clearance.<br>
            
            Thank you for shopping with us!</p>
            <hr>
        </div>
        <div class="col-xs-12 col-md-6 text-center">
            <h3 class="text-black mt-3">United States Shipments</h3>
            <p>We ship to all 50 states in the USA. 
                All orders are shipped via standard shipping and typically take 7-10 business days to arrive. 
                We also offer expedited shipping options at an additional cost, which can take 3-5 business days to arrive.</p><br>

            <p>Orders placed before 2pm GMT will be shipped out the same day, and orders placed after 2pm GMT will be shipped out the next business day.</p><br>
            
            <p>Please note that we are not responsible for any customs or import duties that may be charged on orders shipped outside of the UK.
                 The recipient is responsible for paying any additional charges for customs clearance.<br>
            
            Thank you for shopping with us!</p>
            <hr>
        </div>
    </div>
</div>

{% endblock %}