{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/products.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid products-page">
    <h2 class="text-center">Products Page</h2>
    <small class="text-muted">{{ product_count }} items found</small>
    <hr>
    <div class="row product-row">
        {% for product in products %}
        <div class="card-deck col col-xs-12 col-sm-6 col-md-4 col-xl-3 mb-5">
            <div class="card align-items-stretch">
                <a href="{{ product.get_url}}" class="product-image">
                    {% if product.image_url %}
                        <img class="card-img-top product-image" src="{{ product.image_url }}" alt="{{product.product_name}}">
                    {% elif product.image %}
                        <img class="card-img-top product-image" src="{{ product.image }}" alt="{{product.product_name}}">
                    {% else %}
                        <img class="card-img-top product-image" src="{% static 'images/noimage.jpg' %}" alt="{{product.product_name}}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <a href="{{ product.get_url}}">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                    </a>
                    <p class="text-muted"><strong>Category: </strong>{{ product.category }}</p>
                    <small class="text-muted">
                        <strong>
                            Rating: 
                            {% if product.rating == 1 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif product.rating == 2 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif product.rating == 3 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif product.rating == 4 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% else %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            {% endif %}
                        </strong>
                    </small>
                </div>
                <div class="card-footer">
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <a href="{{ product.get_url}}" class="btn btn-custom-green rounded-0 text-uppercase mt-5">
                                    <span class="text-uppercase">Product Details</span>
                                </a>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                        {% if user.is_superadmin %}
                            <a href="{% url 'edit_product' product.id %}" class="btn btn-warning mt-2">
                                <span class="text-uppercase">Edit</span>
                            </a>
                            <!--Delete product modal button-->
                            <a href="#deleteModal" data-toggle="modal" class="btn btn-danger mt-2"><span class="text-uppercase">Delete</span></a>
                            <!-- delete product Modal -->
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel"><strong>Delete Product Confirmation</strong></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><strong>&times;</strong></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3 class="text-center">Are you sure you want to delete this product?</h3>
                                            <p class="text-center"><strong>This action is not reversable!</strong></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                                            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger mt-2">Delete Product</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}