{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid products-page">
    <h2 class="text-center">Products Page</h2>
    <small class="text-muted">{{ product_count }} items found</small>
    <hr>
    <div class="row product-row">
        {% for product in products %}
        <div class="card-deck col col-xs-12 col-sm-6 col-md-4 col-xl-3 mb-5">
            <div class="card align-items-stretch">
                <img class="card-img-top product-image" src="{{ product.image_url }}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'product_detail' product.id %}">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                    </a>
                    <p class="text-muted"><strong>Category: </strong>{{ product.category }}</p>
                    <small class="text-muted">
                        <strong>
                            Rating: 
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </strong>
                    </small>
                </div>
                <div class="card-footer">
                    {% if product.in_stock %}
                        <div class="btn btn-danger add-cart-btn">Add to Cart <i class="fa-solid fa-cart-arrow-down"></i></div>
                    {% else %}
                        <div class="btn btn-danger add-cart-btn disabled">Out of Stock <i class="fa-solid fa-ban"></i></i></div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}