/* Remove delivery banner on profile page*/
#delivery-banner{
    display: none;
}

.profile-menu-items{
    min-height: 100%;
    border-right: solid black 1px;
}

.profile-options-items{
    height: 100%;
}

.profile-menu-list{
    margin: 0;
    padding: 0;
}

.menu-item{
    color: black;
    font-size: 20px;
}

.order-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  @media only screen and (max-width: 768px) {
    .profile-menu-items{
        min-height: 100%;
        border-right: none;
        margin-bottom: 30px;
    } 
  }